---
import Header from "../layouts/header.astro";
import Footer from "../layouts/footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<h1 class="text-xl text-center p-10 ">Astro</h1>
		<div class="intro flex justify-center items-start gap-10 text-center mb-6">
			<div class="card w-64 h-72 rounded-lg bg-slate-500 text-white text-lg">Card</div>
			<div class="card w-64 h-72 rounded-lg bg-slate-500 text-white text-lg">Card</div>
			<div class="card w-64 h-72 rounded-lg bg-slate-500 text-white text-lg">Card</div>
			<div class="card w-64 h-72 rounded-lg bg-slate-500 text-white text-lg">Card</div>
		</div>
		<Footer/>
	</body>
</html>
